In [27]:
import numpy as np
import pandas as pd
import glob
import os
import re

In [28]:
df19 = pd.read_excel(
    '/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선).xlsx',
    header=1
)
df19

,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,10 ~ 11,11 ~ 12,12 ~ 13,13 ~ 14,14 ~ 15,15 ~ 16,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계
0,2019-01-01,1호선,150,서울역,승차,348,321,348,741,940,1401,2166,2844,3055,2341,3370,3226,3447,3277,2898,2590,3004,2234,970,38,39559
1,2019-01-01,1호선,150,서울역,하차,222,821,808,961,1472,1737,1917,2316,2539,2360,2743,2491,2572,2060,1991,1683,1217,764,456,149,31279
2,2019-01-01,1호선,151,시청,승차,87,98,143,206,280,395,500,672,673,868,946,958,1062,1146,1119,992,904,570,211,6,11836
3,2019-01-01,1호선,151,시청,하차,48,237,323,571,577,648,744,960,996,875,964,733,746,606,374,311,268,177,144,57,10359
4,2019-01-01,1호선,152,종각,승차,669,318,217,203,333,365,666,802,1103,1294,1843,1870,2129,2024,1806,1796,1780,1296,497,31,21042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200799,2019-12-31,8호선,2825,신흥,하차,20,87,86,243,208,189,205,327,347,381,382,501,510,562,493,378,301,257,154,163,5794
200800,2019-12-31,8호선,2826,수진,승차,111,224,542,813,436,343,267,350,297,285,407,427,436,395,245,219,155,126,68,82,6228
200801,2019-12-31,8호선,2826,수진,하차,27,97,115,433,259,198,207,283,381,376,404,373,463,501,452,354,332,322,256,163,5996
200802,2019-12-31,8호선,2827,모란,승차,73,95,342,482,253,210,253,281,377,350,303,366,375,418,242,199,152,189,126,65,5151
200803,2019-12-31,8호선,2827,모란,하차,15,99,140,386,189,175,215,142,224,220,235,306,277,403,279,213,195,186,130,407,4436

In [29]:
df20 = pd.read_csv(
    '/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선).csv',
    encoding='cp949'
)
df20

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,10:00 ~ 11:00,11:00 ~ 12:00,12:00 ~ 13:00,13:00 ~ 14:00,14:00 ~ 15:00,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,1418,2288,2463,2718,2065,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,1655,2047,2484,2248,2308,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,309,442,582,623,763,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,612,822,948,917,1021,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,379,666,918,1056,1190,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,165,166,164,221,286,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,196,205,198,238,205,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,166,155,149,273,238,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,147,161,157,192,245,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,109,125,126,199,182,163,183,228,183,162,71,99,39,25,3

In [30]:
df21 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv",
    encoding='cp949'
)
df21.drop('연번', axis=1, inplace=True)
df21

,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후,합 계
0,2021-01-01,1,150,서울역,승차,86,111,157,306,333,416,579,737,696,674,837,796,839,658,579,479,510,445,101,9339
1,2021-01-01,1,150,서울역,하차,85,355,438,592,841,747,625,838,788,791,781,710,626,437,425,354,307,134,77,9951
2,2021-01-01,1,151,시청,승차,43,45,75,111,95,76,117,190,160,189,227,233,347,294,186,216,204,110,29,2947
3,2021-01-01,1,151,시청,하차,40,145,176,312,223,189,208,223,198,200,158,140,152,121,57,54,64,23,17,2700
4,2021-01-01,1,152,종각,승차,49,59,89,126,125,113,191,340,300,398,513,548,504,572,492,593,513,130,31,5686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204369,2021-12-31,8,2826,수진,하차,25,75,96,340,180,179,189,210,257,294,358,389,407,439,317,223,323,204,100,4605
204370,2021-12-31,8,2827,모란,승차,44,102,279,391,187,178,185,232,277,325,298,393,360,351,206,197,209,90,24,4328
204371,2021-12-31,8,2827,모란,하차,20,96,120,311,132,143,173,194,219,186,300,290,286,347,176,107,154,96,52,3402
204372,2021-12-31,8,2828,남위례,승차,20,83,279,347,138,186,240,192,189,198,227,218,277,184,74,73,95,54,18,3092
204373,2021-12-31,8,2828,남위례,하차,10,41,119,375,147,76,112,124,159,228,213,341,322,382,263,145,209,138,34,3438

In [31]:
df23 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사_역별 시간대별 승하차인원(23.1~23.12).csv",
    encoding='cp949'
)
df23.drop('연번', axis=1, inplace=True)
df23

,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,10-11시간대,11-12시간대,12-13시간대,13-14시간대,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,2023-01-01,1호선,150,서울역,승차,215,145,231,594,923,1383,2024,2540,2394,1787,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2023-01-01,1호선,150,서울역,하차,154,636,595,939,1306,1324,1471,2036,1994,2246,2282,2295,2526,1930,1897,1487,991,609,280,46
2,2023-01-01,1호선,151,시청,승차,48,73,106,194,239,295,493,622,557,717,843,895,959,985,670,630,515,330,146,0
3,2023-01-01,1호선,151,시청,하차,64,247,293,463,522,569,598,797,804,728,602,575,533,456,285,267,246,154,79,18
4,2023-01-01,1호선,152,종각,승차,407,235,158,201,188,284,470,708,738,1021,1145,1402,1223,1272,911,913,906,602,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199265,2023-12-31,8호선,2826,수진,하차,5,45,97,72,190,190,245,157,263,225,192,191,197,222,232,191,171,183,134,73
199266,2023-12-31,8호선,2827,모란,승차,36,68,65,94,132,139,166,211,265,220,206,209,210,187,144,130,130,145,93,8
199267,2023-12-31,8호선,2827,모란,하차,14,72,50,49,96,125,113,167,187,152,182,213,190,235,185,190,202,199,106,262
199268,2023-12-31,8호선,2828,남위례,승차,20,52,56,108,154,200,237,266,302,265,292,309,260,209,121,135,228,178,77,17
199269,2023-12-31,8호선,2828,남위례,하차,19,53,68,112,136,165,135,181,205,220,229,272,274,293,254,204,182,187,115,115

In [32]:

df24 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사_역별 시간대별 승하차인원(24.1~24.12).csv",
    encoding='cp949'
)
df24.drop('연번', axis=1, inplace=True)
df24

,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,2024-01-01,1호선,150,서울역,승차,383,257,308,975,1528,1720,2243,2970,2713,1962,2716,2882,2871,2685,2922,2031,2279,1729,868,43
1,2024-01-01,1호선,150,서울역,하차,249,867,834,1201,1744,1731,2188,2707,2605,2350,2615,2501,2829,2095,1833,1465,1031,585,298,82
2,2024-01-01,1호선,151,시청,승차,188,92,167,245,322,357,503,596,589,714,935,1003,978,1116,951,909,723,462,176,3
3,2024-01-01,1호선,151,시청,하차,103,276,292,451,614,575,754,923,983,796,834,697,670,564,351,302,272,120,89,38
4,2024-01-01,1호선,152,종각,승차,970,374,193,205,260,344,620,848,870,1109,1383,1578,1435,1422,1287,1318,1106,775,274,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199405,2024-12-31,8호선,2826,수진,하차,14,85,152,477,233,191,191,250,286,305,355,414,465,468,376,261,248,246,175,68
199406,2024-12-31,8호선,2827,모란,승차,80,103,332,400,241,241,268,336,353,302,389,537,440,381,247,136,170,140,90,50
199407,2024-12-31,8호선,2827,모란,하차,19,109,138,428,219,197,234,266,256,244,263,340,340,374,281,193,212,207,141,128
199408,2024-12-31,8호선,2828,남위례,승차,44,236,686,811,437,279,346,388,369,400,656,469,556,513,285,245,216,213,75,46
199409,2024-12-31,8호선,2828,남위례,하차,40,138,306,913,361,256,233,261,313,320,377,569,664,781,551,342,276,256,148,69

In [33]:
df23_24 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사_역별 일별 시간대별 승하차인원 정보_23.11_24.01.csv",
    encoding='cp949'
)
df23_24.drop('연번', axis=1, inplace=True)
df23_24

,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,2023-11-01,1호선,150,서울역,승차,342,520,1929,2864,2321,2035,2454,2470,2717,2272,3265,3834,6739,9519,4370,2870,2550,1641,753,72
1,2023-11-01,1호선,150,서울역,하차,300,2166,5186,10500,6808,2882,2453,2384,2412,1899,2372,2231,3041,3053,1729,1249,1114,734,381,108
2,2023-11-01,1호선,151,시청,승차,86,157,303,415,513,543,915,892,1176,1382,1973,2508,4322,7531,2677,2211,2100,1250,399,31
3,2023-11-01,1호선,151,시청,하차,220,1014,3464,9344,4223,2240,1570,1387,1298,1158,971,973,1102,1012,556,321,264,174,108,40
4,2023-11-01,1호선,152,종각,승차,144,167,256,454,559,751,1063,1165,1481,1901,2364,2805,6649,10098,3847,3149,3366,2330,908,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50233,2024-01-31,8호선,2826,수진,하차,28,73,136,290,249,241,296,225,287,301,353,341,426,690,584,318,276,226,162,41
50234,2024-01-31,8호선,2827,모란,승차,80,120,356,456,265,226,230,266,288,276,353,360,381,452,244,160,137,117,70,30
50235,2024-01-31,8호선,2827,모란,하차,19,128,161,374,199,188,212,221,214,199,220,241,284,428,226,128,122,100,61,83
50236,2024-01-31,8호선,2828,남위례,승차,54,283,923,1111,582,319,309,304,326,293,379,392,613,789,338,263,251,202,105,33
50237,2024-01-31,8호선,2828,남위례,하차,39,134,340,932,473,212,238,224,329,280,348,406,638,1048,864,376,414,316,214,89

In [34]:
df22 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사_역별 일별 시간대별 승하차인원 정보_20221231.csv",
    encoding='cp949'
)
df22.drop('연번', axis=1, inplace=True)
df22

/var/folders/0k/b89zvlt92ls3p_60v_0kh9g00000gn/T/ipykernel_22928/3679365302.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df22 = pd.read_csv(

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,10-11시간대,11-12시간대,12-13시간대,13-14시간대,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,2022-01-01,1,150,서울역,승차,120,137,211,439,592,878,1278,1508,1502,1323,1566,1686,1591,1358,1062,899,1327,814,234,NaN
1,2022-01-01,1,150,서울역,하차,113,560,617,910,1232,1260,1028,1555,1264,1265,1329,1251,1126,884,764,654,728,416,131,NaN
2,2022-01-01,1,151,시청,승차,38,66,101,139,121,137,246,327,282,364,474,550,672,528,420,434,491,232,38,NaN
3,2022-01-01,1,151,시청,하차,31,195,224,380,283,309,359,496,508,475,408,377,354,213,131,98,137,61,24,NaN
4,2022-01-01,1,152,종각,승차,44,71,86,158,158,201,354,506,586,722,889,964,1024,803,855,1099,1209,255,62,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199075,2022-12-31,8,2826,수진,하차,16,81,64,104,141,143,183,201,308,264,287,235,250,196,210,162,252,233,114,46.0
199076,2022-12-31,8,2827,모란,승차,66,68,93,121,166,185,234,356,319,288,293,263,273,222,144,156,118,117,56,6.0
199077,2022-12-31,8,2827,모란,하차,13,104,62,131,100,159,214,228,199,141,250,264,270,213,207,169,220,223,129,106.0
199078,2022-12-31,8,2828,남위례,승차,23,60,86,150,167,199,250,293,262,245,262,260,248,220,134,157,167,151,73,14.0
199079,2022-12-31,8,2828,남위례,하차,22,68,77,149,152,165,141,196,217,264,297,323,298,265,240,175,196,178,118,41.0

In [35]:
df23_1031 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사_역별 일별 시간대별 승하차인원 정보_20231031.csv",
    encoding='cp949'
)
df23_1031.drop('연번', axis=1, inplace=True)
df23_1031

,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,10-11시간대,11-12시간대,12-13시간대,13-14시간대,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,2023-01-01,1호선,150,서울역,승차,215,145,231,594,923,1383,2024,2540,2394,1787,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2023-01-01,1호선,150,서울역,하차,154,636,595,939,1306,1324,1471,2036,1994,2246,2282,2295,2526,1930,1897,1487,991,609,280,46
2,2023-01-01,1호선,151,시청,승차,48,73,106,194,239,295,493,622,557,717,843,895,959,985,670,630,515,330,146,0
3,2023-01-01,1호선,151,시청,하차,64,247,293,463,522,569,598,797,804,728,602,575,533,456,285,267,246,154,79,18
4,2023-01-01,1호선,152,종각,승차,407,235,158,201,188,284,470,708,738,1021,1145,1402,1223,1272,911,913,906,602,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165371,2023-10-31,8호선,2826,수진,하차,23,108,220,543,235,248,193,179,223,221,288,404,419,647,450,318,249,219,148,51
165372,2023-10-31,8호선,2827,모란,승차,113,122,394,498,273,206,209,250,271,267,330,520,400,467,243,180,145,122,79,28
165373,2023-10-31,8호선,2827,모란,하차,22,136,214,465,227,152,182,162,177,197,248,243,332,392,233,136,120,104,68,64
165374,2023-10-31,8호선,2828,남위례,승차,64,292,1056,1205,600,303,235,289,300,280,379,459,642,790,291,248,256,197,79,34
165375,2023-10-31,8호선,2828,남위례,하차,43,118,334,1210,450,247,193,241,269,245,326,457,642,1082,826,408,389,356,198,80

In [36]:
df23_0630 = pd.read_csv(
    "/Users/parkjisook/Desktop/공공데이터/서울교통공사_역별 일별 시간대별 승하차인원 정보/서울교통공사_역별 일별 시간대별 승하차인원_20230630.csv",
    encoding='cp949'
)
df23_0630.drop('연번', axis=1, inplace=True)
df23_0630

,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,10-11시간대,11-12시간대,12-13시간대,13-14시간대,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,2023-01-01,1호선,150,서울역,승차,215,145,231,594,923,1383,2024,2540,2394,1787,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2023-01-01,1호선,150,서울역,하차,154,636,595,939,1306,1324,1471,2036,1994,2246,2282,2295,2526,1930,1897,1487,991,609,280,46
2,2023-01-01,1호선,151,시청,승차,48,73,106,194,239,295,493,622,557,717,843,895,959,985,670,630,515,330,146,0
3,2023-01-01,1호선,151,시청,하차,64,247,293,463,522,569,598,797,804,728,602,575,533,456,285,267,246,154,79,18
4,2023-01-01,1호선,152,종각,승차,407,235,158,201,188,284,470,708,738,1021,1145,1402,1223,1272,911,913,906,602,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98598,2023-06-30,8호선,2826,수진,하차,18,112,202,571,235,184,198,222,262,238,290,357,470,566,470,316,276,242,232,102
98599,2023-06-30,8호선,2827,모란,승차,92,114,392,441,239,222,209,254,264,303,320,466,410,467,271,188,180,138,138,59
98600,2023-06-30,8호선,2827,모란,하차,24,122,176,477,209,165,171,238,226,219,250,265,289,505,273,182,161,163,95,131
98601,2023-06-30,8호선,2828,남위례,승차,62,241,843,1061,475,302,267,262,309,274,350,591,776,832,357,266,286,210,115,38
98602,2023-06-30,8호선,2828,남위례,하차,30,125,351,1158,465,248,204,278,248,300,332,451,630,978,827,339,362,380,291,154

In [37]:
df19.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06 ~ 07', '07 ~ 08',
       '08 ~ 09', '09 ~ 10', '10 ~ 11', '11 ~ 12', '12 ~ 13', '13 ~ 14',
       '14 ~ 15', '15 ~ 16', '16 ~ 17', '17 ~ 18', '18 ~ 19', '19 ~ 20',
       '20 ~ 21', '21 ~ 22', '22 ~ 23', '23 ~ 24', '24시 이후', '합 계'],
      dtype='object')

In [38]:
df20.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06:00 이전', '06:00 ~ 07:00',
       '07:00 ~ 08:00', '08:00 ~ 09:00', '09:00 ~ 10:00', '10:00 ~ 11:00',
       '11:00 ~ 12:00', '12:00 ~ 13:00', '13:00 ~ 14:00', '14:00 ~ 15:00',
       '15:00 ~ 16:00', '16:00 ~ 17:00', '17:00 ~ 18:00', '18:00 ~ 19:00',
       '19:00 ~ 20:00', '20:00 ~ 21:00', '21:00 ~ 22:00', '22:00 ~ 23:00',
       '23:00 ~ 24:00', '24:00 이후'],
      dtype='object')

In [39]:
df21.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시 이후', '합 계'],
      dtype='object')

In [40]:
df23.columns

Index(['수송일자', '호선', '역번호', '역명', '승하차구분', '06시이전', '06-07시간대', '07-08시간대',
       '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대', '13-14시간대',
       '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대', '19-20시간대',
       '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후'],
      dtype='object')

In [41]:
df24.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시-24시', '24시 이후'],
      dtype='object')

In [42]:
df23_24.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시-24시', '24시 이후'],
      dtype='object')

In [43]:
df22.columns

Index(['수송일자', '호선', '고유역번호(외부역코드)', '역명', '승하차구분', '06시이전', '06-07시간대',
       '07-08시간대', '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대',
       '13-14시간대', '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대',
       '19-20시간대', '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후'],
      dtype='object')

In [44]:
df23_1031.columns

Index(['수송일자', '호선', '역번호', '역명', '승하차구분', '06시이전', '06-07시간대', '07-08시간대',
       '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대', '13-14시간대',
       '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대', '19-20시간대',
       '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후'],
      dtype='object')

In [45]:
df23_0630.columns

Index(['수송일자', '호선', '역번호', '역명', '승하차구분', '06시이전', '06-07시간대', '07-08시간대',
       '08-09시간대', '09-10시간대', '10-11시간대', '11-12시간대', '12-13시간대', '13-14시간대',
       '14-15시간대', '15-16시간대', '16-17시간대', '17-18시간대', '18-19시간대', '19-20시간대',
       '20-21시간대', '21-22시간대', '22-23시간대', '23-24시간대', '24시이후'],
      dtype='object')

In [ ]:
pd.set_option('display.max_columns', None)
dfs = [df19, df20, df21, df23, df24, df23_24, df22, df23_1031, df23_0630]

def standardize_columns(df):
    df = df.copy()
    if '수송일자' in df.columns:
        df.rename(columns={'수송일자': '날짜'}, inplace=True)
    
    if '고유역번호(외부역코드)' in df.columns:
        df.rename(columns={'고유역번호(외부역코드)': '역번호'}, inplace=True)
    
    if '승하차구분' in df.columns:
        df.rename(columns={'승하차구분': '구분'}, inplace=True)
    
    if '06:00 이전' in df.columns:
        df.rename(columns={'06:00 이전': '06시 이전'}, inplace=True)
    if '06시이전' in df.columns:
        df.rename(columns={'06시이전': '06시 이전'}, inplace=True)
    
    rename_dict = {}
    for col in df.columns:
        if " ~ " in col:
            new_col = col.replace(" ", "").replace("~", "-")
            rename_dict[col] = new_col  
        elif ":00" in col and "~" in col:
            new_col = col.replace(":00", "").replace(" ", "").replace("~", "-")
            rename_dict[col] = new_col
        elif "시-" in col:
            new_col = col.replace("시", "")
            rename_dict[col] = new_col
        elif "시간대" in col:
            new_col = col.replace("시간대", "").strip()
            rename_dict[col] = new_col

    df.rename(columns=rename_dict, inplace=True)
    

    if '23시이후' in df.columns:
        df.rename(columns={'23시이후': '23-24'}, inplace=True)
    if '23시 이후' in df.columns:
        df.rename(columns={'23시 이후': '23-24'}, inplace=True)
    if '24:00 이후' in df.columns:
        df.rename(columns={'24:00 이후': '24시 이후'}, inplace=True)
    if '24시이후' in df.columns:
        df.rename(columns={'24시이후': '24시 이후'}, inplace=True)
    
    
    if '호선' in df.columns:
        df['호선'] = df['호선'].astype(str).apply(lambda x: x if x.endswith('호선') else x + '호선')
    
    base_cols = ['날짜', '호선', '역번호', '역명', '구분']
    time_cols = ['06시 이전', '06-07', '07-08', '08-09', '09-10', '10-11',
                 '11-12', '12-13', '13-14', '14-15', '15-16', '16-17',
                 '17-18', '18-19', '19-20', '20-21', '21-22', '22-23', '23-24', '24시 이후']
    
    if '합 계' in df.columns:
        df.rename(columns={'합 계': '합계'}, inplace=True)
    if '합계' not in df.columns:
        df['합계'] = pd.NA

    if '24시 이후' not in df.columns:
        df['24시 이후'] = pd.NA
        
    final_order = base_cols + [tc for tc in time_cols if tc in df.columns] + ['합계']
    df = df[[col for col in final_order if col in df.columns]]
    return df

dfs_std = [standardize_columns(df) for df in dfs]

merged_df = pd.concat(dfs_std, ignore_index=True)

merged_df['날짜'] = pd.to_datetime(merged_df['날짜'], errors='coerce')

merged_df = merged_df.sort_values(by='날짜')

time_cols = ['06시 이전', '06-07', '07-08', '08-09', '09-10', '10-11',
             '11-12', '12-13', '13-14', '14-15', '15-16', '16-17',
             '17-18', '18-19', '19-20', '20-21', '21-22', '22-23', '23-24', '24시 이후']

merged_df['합계'] = merged_df[time_cols].apply(pd.to_numeric, errors='coerce').fillna(0).sum(axis=1)

merged_df

,날짜,호선,역번호,역명,구분,06시 이전,06-07,07-08,08-09,09-10,10-11,11-12,12-13,13-14,14-15,15-16,16-17,17-18,18-19,19-20,20-21,21-22,22-23,23-24,24시 이후,합계
0,2019-01-01,1호선,150,서울역,승차,348,321.0,348.0,741.0,940.0,1401.0,2166.0,2844.0,3055.0,2341.0,3370.0,3226.0,3447.0,3277.0,2898.0,2590.0,3004.0,2234.0,970.0,38.0,39559.0
375,2019-01-01,6호선,2629,삼각지,하차,46,89.0,64.0,80.0,105.0,138.0,147.0,164.0,179.0,145.0,134.0,167.0,154.0,128.0,152.0,157.0,116.0,152.0,80.0,14.0,2411.0
374,2019-01-01,6호선,2629,삼각지,승차,48,68.0,51.0,80.0,110.0,98.0,169.0,162.0,219.0,264.0,274.0,294.0,376.0,269.0,150.0,125.0,100.0,74.0,50.0,0.0,2981.0
373,2019-01-01,6호선,2628,효창공원앞,하차,24,76.0,64.0,103.0,129.0,110.0,108.0,102.0,140.0,150.0,167.0,205.0,214.0,213.0,179.0,149.0,163.0,145.0,80.0,12.0,2533.0
372,2019-01-01,6호선,2628,효창공원앞,승차,52,104.0,94.0,109.0,143.0,175.0,227.0,221.0,257.0,201.0,213.0,195.0,193.0,188.0,121.0,102.0,100.0,77.0,25.0,0.0,2797.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005954,2024-12-31,6호선,2618,증산(명지대앞),승차,239,490.0,1285.0,1595.0,839.0,546.0,486.0,508.0,528.0,492.0,470.0,557.0,502.0,545.0,307.0,230.0,193.0,154.0,56.0,30.0,10052.0
1005953,2024-12-31,6호선,2617,새절(신사),하차,20,132.0,222.0,476.0,364.0,332.0,278.0,493.0,577.0,594.0,868.0,1050.0,1246.0,1524.0,1096.0,685.0,583.0,581.0,379.0,216.0,11716.0
1005952,2024-12-31,6호선,2617,새절(신사),승차,348,733.0,1924.0,2266.0,1019.0,653.0,607.0,566.0,654.0,525.0,521.0,604.0,613.0,586.0,361.0,266.0,220.0,227.0,75.0,34.0,12802.0
1005958,2024-12-31,6호선,2620,월드컵경기장(성산),승차,20,95.0,270.0,325.0,170.0,174.0,223.0,269.0,277.0,325.0,400.0,545.0,407.0,437.0,235.0,195.0,135.0,136.0,54.0,27.0,4719.0
1005594,2024-12-31,1호선,151,시청,승차,64,119.0,235.0,326.0,399.0,539.0,881.0,1064.0,1381.0,1896.0,2636.0,3055.0,3620.0,4970.0,2116.0,1829.0,1698.0,1116.0,543.0,1203.0,29690.0

In [50]:
merged_df[['날짜','호선']]

                날짜   호선
0       2019-01-01  1호선
375     2019-01-01  6호선
374     2019-01-01  6호선
373     2019-01-01  6호선
372     2019-01-01  6호선
...            ...  ...
1005954 2024-12-31  6호선
1005953 2024-12-31  6호선
1005952 2024-12-31  6호선
1005958 2024-12-31  6호선
1005594 2024-12-31  1호선

[1519435 rows x 2 columns]

In [52]:
merged_df.to_csv("merged_df.csv", index=False)