In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('/Users/parkjisook/Desktop/공공데이터/서울시 역사마스터 정보.csv',encoding='cp949')

In [7]:
df.head()

   역사_ID 역사명          호선        위도         경도
0   9010  동탄  수도권 광역급행철도  37.20034  127.09569
1   9009  구성  수도권 광역급행철도  37.29913  127.10389
2   9008  성남  수도권 광역급행철도  37.39467  127.12058
3   9007  수서  수도권 광역급행철도  37.48637  127.10161
4   9006  삼성  수도권 광역급행철도  37.50887  127.06324